html{
    font-size: 16px;
}

html, body, h1, h2, h3{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFEEE2;
}

.container{
    
}

.bookCardContainer{
    margin: 0 0.8em;
    display: grid;
    column-gap: 0.5em;
    row-gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax( 10em ,1fr))
    
}

/*------------------------ NAVBAR STYLE ------------------------*/
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f0dbc3;
    padding: 0.8em 0;
    border-bottom: 1px solid #a5a5ac;
    margin-bottom: 1em;
}

.logo{
    margin-left: 1rem;
    color: #57330b;
}

.addBookBtn{
    margin-right: 1rem;
    background-color: #ffffff;
    color: #57330b;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 7px;
    border: 2px solid rgb(196, 110, 110);
    cursor: pointer;
    outline: none;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);

}

.addBookBtn:hover{
    background-color: #f5f5f5;
    color: #e69130;
    border: 2px solid brown;
}

.addBookBtn:focus{
    background-color: #bbbbbb;
    color: #f18100;
    border: 2px solid black;
}

/*------------------------ POPUP STYLE ------------------------*/
#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
}

.bookForm{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgb(100, 100, 100);
    padding: 0 1em 0.75em 1em;
    background-color: #e9d2ba;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

#closeFormBtn, .formLabel, .formInput,
.submitFormBtn, .readToggleBtn{
    margin-top: 0.50em;
}

#closeFormBtn{
    width: 2em;
    box-sizing: border-box;
    margin-left: auto;
    background-color: white;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 4px;
    cursor: pointer;
}

#closeFormBtn:hover{
    border: 2px solid rgb(109, 109, 109);
}

.formLabel{
    font-size: 1.25rem;
    
}

.formInput{
    padding: 0.5em 0.5em  0.5em 0.85em;
    font-size: 0.8rem;
    border-radius: 5px;
    border: 2.5px solid rgb(155, 155, 155);
}

.formInput:hover{
    border: 2.5px solid rgb(94, 94, 94);
}

.formInput:focus{
    outline: none;
    border: 2.5px solid rgb(27, 27, 27);
    box-shadow:0 0 5px rgb(0, 0, 0);

}

.submitFormBtn{
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 0.3em 0.5em;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    background-color: white;
}

/*------------------------ BOOK CARD STYLE ------------------------*/
.bookCard{
    padding: 1em;
    border-radius: 6px;
    word-break: break-word;
}

div.bookCardContainer div:nth-child(odd){
    border: 1px solid rgb(253, 122, 122);
    background-color: #ffe1cb;
}

div.bookCardContainer div:nth-child(even){
    border: 1px solid rgb(150, 0, 0);
    background-color: #f5e7e7;
}

.cardLabel{
    margin: 0em;
    font-size: 0.9rem;
    color: #632804;
}

.cardInfo{
    margin: 0;
    font-size: 1.5rem;
    padding-left: 0.4em;
    color: #bb4800;

}