html{
    font-size: 16px;
}
html, body, h1, h2, h3{
    padding: 0;
    margin: 0;
}

body{
    background-color: #FFEEE2;
}

.container{

}

/*------------------------ NAVBAR STYLE ------------------------*/
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #f0dbc3;
    padding: 0.8em 0;
    border-bottom: 1px solid #a5a5ac;
}

.logo{
    margin-left: 1rem;
    color: #57330b;
}

.addBookBtn{
    margin-right: 1rem;
    background-color: #ffffff;
    color: #57330b;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 7px;
    border: 2px solid rgb(196, 110, 110);
    cursor: pointer;
    outline: none;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);

}

.addBookBtn:hover{
    background-color: #dbdada;
    color: #e69130;
    border: 2px solid brown;
}

.addBookBtn:focus{
    background-color: #bbbbbb;
    color: #f18100;
    border: 2px solid black;
}

/*------------------------ POPUP STYLE ------------------------*/
#popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookForm{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    border: 1px solid rgb(100, 100, 100);
    padding: 0 1em 0.75em 1em;
    background-color: #e7c8a9;
    border-radius: 8px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}

#closeFormBtn, .formLabel, .formInput,
.submitFormBtn, .readToggleBtn{
    margin-top: 0.50em;
}

#closeFormBtn{
    width: 2em;
    box-sizing: border-box;
    margin-left: auto;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

#closeFormBtn:hover{
    border: 1px solid rgb(109, 109, 109);
}

.formLabel{
    font-size: 1.3rem;
    
}
.formInput{
    padding: 0.5em 0.5em  0.5em 0.85em;
    font-size: 0.8rem;
}

.submitFormBtn{
    margin: 0 auto;
    font-size: 1.1rem;
    padding: 0.3em 0.5em;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5px;
    background-color: white;
}